<html>
  <head>
    <title>Thimble Stats - {% block title %}{% endblock %}</title>

    <script src="https://mozilla.github.io/nunjucks/files/nunjucks.js"></script>
    <script src="js/utilities.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="css/style.less" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block script %}{% endblock %}

    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ":/a.com/"
      };
    </script>
    <script src="js/less.js"></script>
  </head>

  <body>
    <header>
      <a class="logo" href="/">
        <img src="img/thimble-logo.svg">
        <h1 class="title">Stats</h1>
      </a>
      <nav>
        <a class="{% if (currentPage == "dashboard") %}selected{% endif %}" href="/">Overview</a>
        <a class="{% if (currentPage == "month") %}selected{% endif %}" href="/month">Daily Gallery</a>
        <a class="{% if (currentPage == "kiosk") %}selected{% endif %}" href="/kiosk">Slideshow</a>
        <a class="{% if (currentPage == "images") %}selected{% endif %}" href="/images">Images</a>
        <a class="{% if (currentPage == "search") %}selected{% endif %}" href="/search">Search</a>
      </nav>
    </header>

    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>

  </body>

</html>
